body {
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat-Black';
}

p {
  color: #8f8f8f;
}

/* Headings */
.big-heading {
  font-size: 3rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Sections */
.colored-section {
  background-color: #ff4c68;
  color: #fff;
}

.white-section {
  background-color: white;
}

.container-fluid {
  padding: 3% 15% 9%;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
  color: #fff;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-light";
}

/* Title Section */
#title {
  text-align: left;
}

.title-img {
  transform: rotate(25deg);
}

/* Download buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Title image */
.iphone {
  width: 55%;
  position: absolute;
  right: 18%;
}

/* Features */
#features {
  padding: 7% 15%;
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 5%;
}

.icon {
  margin-bottom: 1rem;
  color: #ef8172
}

.icon:hover {
  color: #ff4c68;
}

/* Testimonials */
#testimonials {
  background-color: #ef8172;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 15%;
}

#press {
  background-color: #ef8172;
  padding-bottom: 2%;
}

.press-logo {
  width: 15%;
  padding: 20px 20px 45px;
}

/* pricing */
#pricing {
  padding: 80px;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

.button-card {
  margin-top: 2rem;
}

.last-button {
  margin: auto 10px;
}

/* Footer */
#footer {
  background-color: #fff;
  padding: 5% 11%;
}

.icon-footer {
  margin: 25px 5px 10px;
}

@media (max-width: 993px) {
  #title {
    text-align: center;
  }

  .iphone {
    position: static;
  }

  .title-img {
    transform: rotate(0);
  }
}
